<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Flask</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/operaciones">Calculadora</a>
    <a href="/validacion">Formulario</a>
    <a href="/error">Errores</a>
</nav>

<hr>

{% block content %}{% endblock %}

</body>
</html>
