{% extends "base.html" %}

{% block title %}Calculadora{% endblock %}

{% block content %}
<div class="app-container">

    <h2>Calculadora</h2>

    <!-- SUMA -->
    <form method="POST" class="mb-4">
        <input type="number" name="a" placeholder="Dato 1" required>
        <br>
        <input type="number" name="b" placeholder="Dato 2" required>
        <button class="btn btn-primary mt-2" type="submit" name="op" value="sumar">Sumar</button>
    </form>

    <!-- DIVISIÓN -->
    <form method="POST" class="mb-4">
        <input type="number" name="c" placeholder="Dividendo" required>
        <br>
        <input type="number" name="d" placeholder="Divisor" required>
        <button class="btn btn-primary mt-2" type="submit" name="op" value="dividir">Dividir</button>
    </form>

    {% if suma is not none %}
        <p class="mensaje">Resultado suma: {{ suma }}</p>
    {% endif %}

    {% if division is not none %}
        <p class="mensaje">Resultado división: {{ division }}</p>
    {% endif %}

</div>
{% endblock %}
